@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-color: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
}
.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}
.grid {
  width: 38vw;
  height: 38vw;
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid #fff; */
  /* border-radius: .5vw; */
}
.details-wrap{
  display: flex;
  width: 38vw;
  height: 5vw;
  justify-content: space-between;
  align-items: center;
}
.cell {
  width: 2vw;
  height: 2vw;
  justify-content: center;
  display: inline-flex;
  align-items: center;
}
.wall {
  /* background-color: blue; */
  border: 1px solid blue;
  box-sizing: border-box;
}
.pac-dot {
  width: 0.5vw;
  height: 0.5vw;
  background-color: rgb(243, 243, 152);
  border-radius: 50%;
}

.power-pill {
  width: 1vw;
  height: 1vw;
  background-color: rgb(253, 168, 182);
  border-radius: 50%;
}
.power-pill-toggle {
  opacity: 0;
}
.pacman {
  background-image: url(./Assets/l3K.gif);
  background-size: contain;
  background-repeat: no-repeat;
}
.ghost{
  box-sizing: border-box;
  border: .3vw solid black;
}
.blinky{
  background-color: red;
}
.inky{
  background-color: cyan;
}
.pinky{
  background-color: #FFB8FF;
}
.clyde{
  background-color: #FFB852;
}
.scared-ghost{
  background-color: blue;
}
.pacman-lives{
  width: 9vw;
  height: 2vw;
  display: inline-block;
}
.pacLife{
  background-image: url();
  background-size: cover;
  height: 2vw;
  width: 2vw;
  margin-left: 1vw;
}