@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root{
  --font-main: 'Press Start 2P', cursive;
  --color-pink: #FFB8FF;
  --color-yellow: #FFB852;
}
body {
  background-color: black;
  color: white;
  font-family: var(--font-main);
}
.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(19, 2vw);
}
.details-wrap{
  display: flex;
  width: 38vw;
  height: 5vw;
  justify-content: space-between;
  align-items: center;
}
.cell {
  width: 2vw;
  height: 2vw;
  justify-content: center;
  display: inline-flex;
  align-items: center;
}
.wall {
  border: 1px solid blue;
  /* background-color: rgb(0, 38, 255); */
  box-sizing: border-box;
}
.pac-dot {
  width: 0.35vw;
  height: 0.35vw;
  background-color: rgb(243, 243, 152);
  border-radius: 50%;
}
.power-pill {
  width: 1vw;
  height: 1vw;
  animation-name: blink;
  animation-duration: 0.3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  background-color: rgb(253, 168, 182);
  border-radius: 50%;
}

@keyframes blink{
   from {
     opacity: 1;
   }
   to{
     opacity: 0.3;
   }
} 
.pacman {
  background-image: url(./Assets/pacman-move.gif);
  background-size: contain;
  background-repeat: no-repeat;
}
.ghost{
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
}
.blinky{
  background-image: url(./Assets/blinky.gif);
}
.inky{
  background-image: url(./Assets/inky.gif);
}
.pinky{
  background-image: url(./Assets/pinky.gif);
}
.clyde{
  background-image: url(./Assets/clyde.gif);
}
.scared-ghost{
  background-image: url(./Assets/scared-ghost.gif);
}
.pacman-lives{
  width: 9vw;
  height: 2vw;
  display: inline-block;
}
.pacLife{
  background-image: url();
  background-size: cover;
  height: 2vw;
  width: 2vw;
  margin-left: 1vw;
}
.gameOverModal, 
.gameWonModal{
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.171);
  backdrop-filter: blur(1px);
}
.modalConatiner,
.gameWonContainer{
  background-color: black ;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 25vw;
  height: 28vw;
  border: solid 8px turquoise;
  border-radius: 1vw;
  border-image: linear-gradient(45deg, rgb(231, 22, 102), rgb(230, 226, 17)) 1;
}
.gameOverModal-gif{
  width: 10vw;
}
.btn{
  width: 15vw;
  height: 4vw;
  text-transform: uppercase;
  font-family: var(--font-main);
  outline: none;
  border: none;
  border-radius: .5vw;
}

.btn-restart{
  background-color: #04AA6D;
  color: #fff;
}
.btn-restart:hover{
  background-color: #04aa6d9d;
}
.btn-quit{
  background-color: red;
  color: white;
}
.btn-quit:hover{
  background-color: rgba(255, 0, 0, 0.733);
}
.sidebar{
  position: fixed;
  right: 3vw;
  height: 100%;
  transform: translateX(130%);
  transition: all ease-in-out .7s;
}
.sidebar-active{
  transform: translateX(0);
  transition: all ease-in-out .7s;
}
.sidebar-content{
  margin-top: 7vw;
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: space-evenly;
}
.setting{
  filter: invert(1);
  width: 3vw;
  position: fixed;
  right: 1vw;
  top: 1vw;
  z-index: 10;
}
.setting:hover{
  animation:spin 1s linear infinite;
}
.sidebar select{
  height: 3vw;
  background-color: transparent;
  color: white;
  font-family: var(--font-main);
}
.sidebar select option{
  background-color: black;
  color: white;
}
.audio{
  filter: invert(1);
  width: 1.5vw;
}
@keyframes spin { 
  100% {
      transform:rotate(360deg); 
  } 
}